
body {
	color: #888888;
	font-size: 15px;
	font-family: "Poppins", sans-serif;
	height: 100%;
	overflow-x: hidden;
}

a:hover {
	color: #ffaf53 !important;
}
img {
	max-width: 100%;
	height: auto;
	vertical-align: middle;
}
span, a {
	display: inline-block;
	color: inherit;
}


.section-padding {
	padding: 100px 0px;
}
.section-title {
	padding-bottom: 80px;
}
.section-title h3 {
	color: #ab2f52;
	text-transform: uppercase;
	font-weight: 300;
	margin-bottom: 22px;
}
.section-title p {
	width: 60%;
	margin: 15px auto 20px;
}
.section-title-line {
	background: #ececec;
	content: "";
	height: 1px;
	position: absolute;
	left: calc(50% - 87px);
	width: 175px;
}
.section-title-line:after {
	background: #ab2f52;
	bottom: -1px;
	content: "";
	height: 2px;
	left: calc(50% - 22px);
	position: absolute;
	width: 45px;
}
.mb-30 {
	margin-bottom: 30px !important;
}
.mb-50 {
	margin-bottom: 50px !important;
}
.mb-100 {
	margin-bottom: 100px !important;
}
.mt-50 {
	margin-top: 50px !important;
}
.mt-100 {
	margin-bottom: 100px !important;
}
.pd-lt-10 {
	padding-left:10px;
}
.no-padding {
	padding: 0px !important;
}
.sub-title-paragraph {
}
.sub-title-paragraph h4 {
	margin-bottom: 5px;
}
.sub-title-paragraph h5 {
	color:#ffaf53;
}
.sub-title-paragraph p {
	padding-top: 20px;
	font-weight: 300;
	font-size: 14px;
	line-height: 25px;
}
.anchor-btn {
	background: #ffaf53;
	padding: 10px 20px;
	color: #ffffff !important;
	border-radius: 3px;
	margin-top: 30px;
}
.bg-grey {
	background-color: #fafafa;
}
.bg-white {
	background: #ffffff;
}

@media all and (max-width:768px) {
.section-title p {
	width: 100%;
}
.section-title h3 {
	margin-bottom: 12px;
	font-size: 25px;
}
.section-padding {
	padding: 60px 0px;
}
.section-title {
	padding-bottom: 40px;
}
.banner-overlay {
	padding: 150px 0px 100px;
}
}
